<div style=" margin: auto; width: 40%; border: 4px solid green; padding: 10px">
<select (change)="selectChangeHandler($event)">
        <option>Select From Drop Down</option>
        <option value="Hotel">Hotel</option>
        <option value="Cinema">Cinema Hall</option>
    </select>
</div>
<div class="container">
  <div class="container">
      <div class="row col-md-6 col-md-offset-2 custyle">
      <table class="table table-striped custab">
      <thead>
          <tr>
              <th><h2>Name----</h2></th>
              <th><h2>--Distance In Km</h2></th>
          </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let rp of resp">
            <td>{{rp.hotelN}}</td>
              <td>{{rp.d}}</td>
            </tr>
      </tbody>
      </table>
      </div>
  </div>

  <div id="map">
</div>

